.manager {
    background-color: gray;
}

.engineer {
    background-color: rgb(62, 177, 248);
}

.intern {
    background-color: rgb(65, 209, 253);
}

#teamImage {
    background-image: url(../images/teamImage.jpg);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
 }
 .back-text {
    padding-top: 70px;
    padding-left: 10px; 
   color: rgb(247, 248, 248); 
}