.manager {
    background-color: gray;
}

.engineer {
    background-color: lightskyblue;
}

.intern {
    background-color: lightcyan;
}

 .team-heading {
    background: url(../assets/images/teamWork.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }
 .back-text {
   color: lightskyblue; 
}